<meta charset="utf-8">
<title>{{ if ne .URL "/" }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
<meta name="author" content="{{ .Site.Author.name }}">

{{ if .Page.Description }}
  <meta name="description" content="{{ .Page.Description | plainify | truncate 150 }}">
{{ else }}
  <meta name="description" content="{{ .Content | plainify | truncate 150 }}">
{{ end }}
{{ if .Page.Keywords }}<meta name="keywords" content="{{ .Page.Keywords }}">{{ end }}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="{{ .Site.Params.Url }}{{ .Page.RelPermalink }}">

<link href="/favicon.ico" rel="shortcut icon">
<link href="{{ "css/screen.css?time=1539936306" | relURL }}" media="screen, projection" rel="stylesheet" type="text/css">
<script src="{{ "js/modernizr-2.0.js" | relURL }}"></script>
<script src="{{ "js/ender.js" | relURL }}"></script>
  <script src="{{ "js/octopress.js?time=1539936306" | relURL}}" type="text/javascript"></script>

<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<!-- audio player -->
<script src="/assets/audiojs/audio.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<meta content='умпутун, umputun, подкаст умпутуна, еженедельный подкаст, подкаст из США, подкаст на русском, Интернет Радио, русский подкаст, russian podcast' name='Keywords'/>

<link href="http://feeds.rucast.net/Umputun" rel="alternate" title="{{ .Site.Title}}" type="application/rss+xml">
<meta name="google-site-verification" content="ksgpDie3eKtPpy5JWeHKYidmKY7IZ6oD9lffpaDt0hM" />