<!DOCTYPE html>
{{ `<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->` | safeHTML }}
{{ `<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->` | safeHTML }}
{{ `<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->` | safeHTML }}
<head>
    <meta charset="utf-8">

    {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
  {{ else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ end }}

  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">

  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="/favicon.ico" rel="shortcut icon">
  <link href="{{ .Site.Params.url }}" rel="canonical">

  <link href="/stylesheets/screen.css" media="screen, projection" type="text/css" rel="stylesheet">
  <link href="/stylesheets/likely.css" type="text/css" rel="stylesheet">


</head>

<body>

<header role="banner">
    <hgroup>
        <h1><a href="/">{{ .Title }}</a></h1>
        <h1><a href="/">{{ .Description }}</a></h1>
    </hgroup>
    
</header>    
    <nav role="navigation">
        <ul class="subscription">
            <li>
                <a href="http://feeds.rucast.net/Umputun" rel="subscribe-rss" title="subs">"RSS"</a>
            </li>
        </ul>
        <form action="https://google.com/search" method="get">
            <fieldset role="search">
                <input type="hidden" name="as_sitesearch" value="podcast.umputun.com">
                <input class="search" type="text" name="q" results="0" placeholder="Поиск">
            </fieldset><fieldset class="mobile-nav"><select><option value="">Navigate…</option><option value="https://podcast.umputun.com/">» Еженедельный подкаст от Umputun</option><option value="http://feeds.rucast.net/Umputun">» RSS</option></select></fieldset>
        </form>
        <ul class="main-navigation">
            <li>
                <a href="/">Podcasts</a>
            </li>
            <li>
                <a href="/archives-zip">archives</a>
            </li>
            <li>
                <a href="/feeds">subscribtions</a>
            </li>
            <li>
                <a href="/faq">faq</a>
            </li>

        </ul>
    </nav>
