{% comment %}

{% endcomment %}

<script type='text/javascript'>//<![CDATA[
   if (document.getElementById('disqus_thread')) {
       (function() {
            var _gp = document.createElement('script');
            _gp.type = 'text/javascript'; _gp.async = true;
            _gp.src = 'http://gplus.kulikovd.ru/pingback?profile=104578309919492528255&url=' + window.location.href;
            var _s = document.getElementsByTagName('script')[0]; _s.parentNode.insertBefore(_gp, _s.nextSibling);
        })();
    }
//]]></script>


