{{ define "main" }}
  <div class="blog-index">
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

  {{ range $paginator.Pages }}
    {{ partial "article" . }}
  {{ end }}

  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination content__pagination">
      {{ if $paginator.HasNext }}
        <a class="pagination__link pagination__prev" href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}/">&larr;&nbsp;Раньше</a>
      {{ else }}
        <div class="pagination__no-link"></div>
      {{ end }}

      <a class="pagination__link pagination__archive" href="/archives/">Архивы подкаста</a>

      {{ if $paginator.HasPrev }}
        <a class="pagination__link pagination__next" href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}/">Позже&nbsp;&rarr;</a>
      {{ else }}
        <div class="pagination__no-link"></div>
      {{ end }}
    </div>
  {{ end }}
  </div>
{{ end }}
