{{ define "main" }}
<div class="categories">
  <article class="category" role="article">
    <header>
      <h1 class="category__title">Категория: {{ .Title }}</h1>
    </header>

    <div id="blog-archives" class="category__blog-archives">
      {{ $paginator := .Paginator 25000 }}

      {{ range $paginator.Pages.GroupByDate "2006" }}
        {{ $k := .Key }}

        {{ $.Scratch.Add $k 0 }}
        {{ range .Pages }}
          {{ if eq .Type "posts" }}
            {{ $.Scratch.Add $k 1 }}
          {{ end }}
        {{ end }}

        {{ if ($.Scratch.Get $k) "!=" 0 }}
          <h2 class="category__year">{{ .Key }}</h2>

          {{ range .Pages }}
            {{ .Render "archive_li" }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </article>
</div>
{{ end }}
