{{ define "main" }}
<div class="article">
  <article class="article__container" role="article">
    <header class="article__header">
      <h2 class="article__title article__title-single">{{ .Title }}</h2>

      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
      <meta name="twitter:url" content="{{ .Site.Params.url }}{{ .URL }}">
      <meta name="twitter:title" content="{{ .Title }}">
      <meta name="twitter:description" content="{{ .Site.Params.twitterCardDescription }}">
      {{ with .Params.image }}<meta name="twitter:image" content="{{ . }}">{{ end }}

      <p class="article__header-datetime">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" pubdate data-updated="true">{{ .Date.Format "2006-01-02" }}</time>
      </p>
    </header>

    <div class="article__content">
      {{ .Content }}
    </div>

    <footer class="article__footer">
      <div class="article__footer-meta">
        <span class="byline author vcard article__footer-meta-author article__footer-meta-item ">
          <span class="fn">{{ .Site.Author.name }}</span>
        </span>
        <time class="article__footer-meta-datetime article__footer-meta-item" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" pubdate data-updated="true">{{ .Date.Format "2006-01-02" }}</time>

        <span class="categories article__categories article__footer-meta-categories article__footer-meta-item">
          {{ range $category := .Params.categories }}
            <a class="category" href="/categories/{{ $category }}">{{ $category }}</a>
          {{ end }}
        </span>
      </div>

      <div class="sharing article__sharing">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ .Permalink }}" data-via="{{ .Site.Params.twitter }}" data-counturl="{{ .Permalink }}" >Tweet</a>
      </div>

      <div class="article-navigation article__navigation">
        {{ if .Next }}
          <a class="article-navigation__prev" href="{{ .Next.Permalink }}" title="Previous Post: {{ .Next.Title }}">&laquo;&nbsp;{{ .Next.Title }}</a>
        {{ end }}

        {{ if .Prev }}
          <a class="article-navigation__next" href="{{ .Prev.Permalink }}" title="Next Post: {{ .Prev.Title }}">{{ .Prev.Title }}&nbsp;&raquo;</a>
        {{ end }}
      </div>

      <div class="article__check-question"><em>Перед тем, как задать вопрос, проверьте — может быть, ответ на него <a href="/faq">уже есть</a></em></div>

    </footer>
  </article>

  <section class="article__comments">
    <div id="remark42"></div>
    <noscript>Please enable JavaScript to view the comments powered by Remark42.</noscript>
  </section>
</div>
{{ end }}
