+++
title = "UWP - Выпуск {{.Number}}"
date = "{{.Date}}"
categories = ["podcast"]
image = "https://podcast.umputun.com/images/uwp/uwp{{.Number}}.jpg"
filename = "ump_podcast{{.Number}}"
+++

![](https://podcast.umputun.com/images/uwp/uwp{{.Number}}.jpg)

-
-
-
-
-
-
-
- Вопросы и ответы

[аудио](https://podcast.umputun.com/media/ump_podcast{{.Number}}.mp3)
<audio src="https://podcast.umputun.com/media/ump_podcast{{.Number}}.mp3" preload="none"></audio>

