// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > nav {
  form {
    .search {
      padding: .4em .6em .3em;
    }
  }
}

body > nav form .search::-webkit-input-placeholder {
   color: #DDD;
   padding: .2em;
}

body > nav form .search::-moz-placeholder {
   color: #DDD;
   padding: .2em;
}

body>nav form .search {
  color: #DDD;
}

body>nav form .search:focus {
  color: #000;
}

img {
  border: 0 none;
  pagging: 0;
  box-shadow: 0px 0px 0px #FFF;
  -moz-box-shadow: 0px 0px 0px #FFF;
  -webkit-box-shadow: 0px 0px 0px #FFF;
}

body {
  font-size: 1em;
  color: $text-color;
  @extend .sans;
 }

em {
  font-size: 0.9em;
}

h1 {
    font-size: 1.45em;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-bottom: 0.1em;
    padding-top: 0em;
    padding-left:0em;
    margin-left: 0px;
}


article img {
	float: right;
 	width:200px;
 	height:auto;
	margin-left: 0.5em;
}

#content {
  font-size: 1em;
  color: $text-color;
  @extend .sans;
  a:link {color:#526f9a;}      /* unvisited link */
  a:visited {color:#526f9a;}  /* visited link */
  a:hover {color:#7ab6f2;}  /* mouse over link */
  a:active {color:#7ab6f2;}  /* selected link */
}

body > header {
  h1 {
    font-size: 0.1em;
    margin-bottom: 0.0em;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top:  0px;
    padding-left: 0px;
    margin-left: 0px;
  }
  padding-bottom: 0px;
  padding-top: 0px;
}

article h2, article h3, article header h1{
  font-weight: bold;
  margin-bottom: .0em;
  margin-top: .3em;
  font-size: 1.5em;
}

article header {
	text-align:left;
	font-size: 0.9em;
 	font-weight: normal;
  padding: .5em ;
  #text-transform: uppercase;

  margin-top: 0em;

  .meta{
    font-size: 0.5em;
    margin-top: 0em;
  }

  .meta_{
    font-size: 0.5em;
    margin-bottom: .0em;
    margin-top: 1em;
    position: absolute;
    text-align:right;
    line-height: 1em;
    width: 100%;

  }
}

article li {
  margin-left: 1.5em;
}


#content .blog-index article h1 {
  font-size: 1.4m;
  color: #aa5050;
  font-weight: bold;
  padding-bottom: .1em;
  margin-top: 0.1em;

  a:hover {color:#ff6060;}  /* mouse over link */
  a:active {color:#ff6060;}  /* selected link */
}



aside, aside a {
	font-size: 1em;
	text-decoration: none;
  @extend .serif;
}


aside.sidebar h15 li {
  font-size: 1.1em;
	padding-top: 0em;
  margin-top:0em;
	margin-left:10px;
	pagging: 1px;
	font-weight: normal;
  list-style-type: square;
  border: none;
 }


aside.sidebar img {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   -o-box-shadow: none !important;
   box-shadow: none !important;
   border-bottom: 0px none !important;
   pagging: 1px !important;
   margin: 1px !important;
   max-width:100%; height:auto !important;
 }

body audio {
	padding-top: 1em;
	margin-top:1em;
}

.entry-content {
  font-size: 1em;
}

.toggle-sidebar{display:none;}
aside.sidebar { padding-top: 1.3em !important; }

article em {
  font-size: 0.7em;
}
