<section>
<h2>Обратная связь</h2>
<ul>
<h15>
<li><a href="mailto:umputun@gmail.com">Послать email</a></li>
<li><a href="skype:umputun">Связаться по Skype</a></li>
<li><a href="xmpp:umputun@gmail.com">GTalk / Jabber</a></li>
<li><a href="http://twitter.com/umputun">Почитать твиты</a></li>
<li><a href="https://plus.google.com/104578309919492528255/posts">Umputun на Google+</a></li>
<li><a href="https://t.me/umputun">Telegram</a></li>

<li><a href="/formspring">Вопросы из FormSpring</a></li>
</ul>
</h15>
</ul>
</section>
